/* seletor de elementos */
html {
    scroll-behavior: smooth; /*deixa o movimento de rolagem d apagina mais "natural"*/
}

body {
    background-color: #87CEEB; /* Define a cor de fundo da página */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    /* Define a família de fontes usada no corpo da página */
}

a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: black;          /* Define a cor dos links como preta */
}

a:hover {
    color: white;          /* Quando passa o mouse, a cor do link muda para branco */
}

p {
  margin-bottom: 20px; /* Espaço entre os parágrafos */
}

/* seletor de classe */
.perfil{
    display: flex;           /* coloca foto e ícone lado a lado */
    align-items: center;     /* alinha verticalmente */
    gap: 10px;               /* espaço entre a foto e o ícone */
}

.container {
    display: flex;           /* Torna o container um flexbox (permite organizar os elementos lado a lado ou em coluna) */
    flex-direction: row;     /* Define que o menu e o conteúdo ficam em linha (um ao lado do outro) */
}

.menu {
    background-color: #0d8bbd; /* Cor de fundo azul para a área do menu */
    padding: 2rem;            /* Espaçamento interno (respiro dentro da área do menu) */
    margin-right: 1rem;       /* Espaçamento externo à direita do menu */
    width: 30%;               /* Menu ocupa 30% da largura total */
    margin-bottom: 1rem;      /* adiciona uma margem inferior  */
    border-radius: 1%;        /* arredonda levemente os cantos do elemento */
}

.conteudo {
    padding: 2rem;            /* Espaçamento interno do conteúdo */
    width: 60%;               /* Conteúdo ocupa 70% da largura total */
}

.item-menu {
    padding: 0.6rem;          /* Espaçamento interno de cada item da lista do menu */
    margin: 0.7rem 0 0.7rem 0;/* Espaçamento externo em cima e embaixo (0.7rem), laterais zeradas */
    list-style: none;         /* Remove os marcadores */
    border-bottom: solid;     /* Cria uma borda embaixo de cada item (mas sem largura/cor definida, por isso usa padrão) */
}

.item-menu:hover {
    background-color: rgb(121, 181, 250); /* Quando passa o mouse sobre o item, a cor de fundo muda */
}

section {
    margin-top: 5rem;   /* Espaço externo acima de cada seção */
    padding: 2rem;      /* Espaço interno dentro da seção */
}

/* seletor de id */
#sec1 {
    background-color: #ADD8E6; /* Cor de fundo azul clara para a seção 1 */
    border-radius: 1%;           /* arredonda levemente os cantos do elemento */
}

#sec2 {
    background-color: #ADD8E6; /* Cor de fundo azul clara para a seção 2 */
    border-radius: 1%;           /* arredonda levemente os cantos do elemento */
}

#sec3 {
    background-color: #ADD8E6; /* Cor de fundo azul clara para a seção 3 */
    border-radius: 1%;           /* arredonda levemente os cantos do elemento */
}

#sec4 {
    background-color: #ADD8E6; /* Cor de fundo azul clara para a seção 4 */
    border-radius: 1%;           /* arredonda levemente os cantos do elemento */
}

#sec5 {
    background-color: #ADD8E6; /* Cor de fundo azul clara para a seção 4 */
    border-radius: 1%;           /* arredonda levemente os cantos do elemento */
}

.centro {
    text-align: center; /* Centraliza o texto horizontalmente */
}

#selfie {
    border-radius: 50%; /* Deixa a imagem circular */
    border: 4px solid;  /* Define borda sólida de 4px */
    border-color: #000; /* Define a cor da borda como preta */
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Coloca o menu e conteúdo em coluna */
    }

    .menu {
        width: 100%; /* O menu ocupa 100% da largura */
        margin-right: 0; /* Remove a margem direita */
        margin-bottom: 1rem; /* Margem inferior no menu */
    }

    .conteudo {
        width: 100%; /* O conteúdo ocupa 100% da largura */
        margin-top: 1rem; /* Margem superior no conteúdo */
    }
}
